body {

  font-family: Arial;

}

.ng-cloak { display:none; }


header {
  margin-bottom:50px;
  background:#eee;
  min-height:250px;
}


header .container {
  padding-top:100px;
}

.center-text {
  text-align:center;
}

footer {
  background:black;
  color:white;
  min-height:300px;
}

footer .container {
  padding-top:50px;
  padding-bottom:50px;
}


#main {
  margin-top:50px;
  margin-bottom:50px;
  min-height:800px;
}

#analyzer {
  height:200px;
}
