<!DOCTYPE html>
<html lang="en" ng-app="SpeechRecognitionDemo" class="js consumer chrome">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <meta content="Google Chrome is a browser that combines a minimal design with sophisticated technology to make the web faster, safer, and easier." name="description">

  <!-- Legacy -->

    <script>
    (function(e, p){
    var m = location.href.match(/platform=(win8|win|mac|linux|cros)/);
    e.id = (m && m[1]) ||
           (p.indexOf('Windows NT 6.2') > -1 ? 'win8' : p.indexOf('Windows') > -1 ? 'win' : p.indexOf('Mac') > -1 ? 'mac' : p.indexOf('CrOS') > -1 ? 'cros' : 'linux');
    e.className = e.className.replace(/\bno-js\b/,'js');
    })(document.documentElement, window.navigator.userAgent)
    </script>

    <link href="https://www.google.com/images/icons/product/chrome-32.png" rel="icon" type="image/ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin" rel="stylesheet">
    <link href="https://www.google.com/intl/en/chrome/assets/common/css/chrome.min.css" rel="stylesheet">

  <!-- /Legacy -->


    <!-- WebRTC adapter  -->
    <script type="text/javascript" src="./adapter.js"></script>

    <script src="./speech_files/autotrack.js"></script>
    <script src="./speech_files/chrome.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" >

    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- APP CSS -->
    <link href="app.css" rel="stylesheet" type="text/css" >


    <title>WebRTC Speech Recognition demo</title>

  </head>
  <body>

    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span style='color:white;'>Menu</span>
          </button>
          <a class="navbar-brand" href=".">

            <strong>Speech recognition</strong>
            <span class="label label-danger">DEMO</span>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{'active':menu.section=='microphone'}"><a href="?x=mic#microphone"><i class="fa fa-microphone fa-align-left"></i> Via microphone</a></li>
            <li ng-class="{'active':menu.section=='recorded'}"><a href="?x=rec#recorded"><i class="fa fa-file-audio-o fa-align-left"></i> Via recorded audio</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div class="container center-text">
        <h3>Speech <i class="fa fa-arrow-right"></i> Text</h3>
      </div>
    </header>


    <!-- MAIN -->
    <div id="main" class="container" ng-controller="MainController">
      <!-- DEMO sticker  -->
      <div class="pull-right">
        <span class="label label-danger">DEMO</span>
      </div>

      <!-- Section title ( demo type )  -->
      <div class="ng-cloak">
        <h1 ng-show="menu.section=='microphone'" ><i class="fa fa-microphone"></i> SR via Microphone</h1>
        <h1 ng-show="menu.section=='recorded'"><i class="fa fa-file-audio-o"></i> SR via Audio File</h1>
      </div>

      <!-- MESSAGES  -->
      <div id="message" class="ng-cloak">

        <!-- SPEECH RECOGNITION AVAILABILITY  -->
        <p ng-hide="sr.isAvailable()" class="alert alert-danger">
          Web Speech API is not supported by this browser.
          Upgrade to <a href="https://www.google.com/chrome">Chrome</a> version 25 or later.
        </p>

        <p ng-show="sr.isActive()" class="alert alert-info" >
          Speech recognition is active.
        </p>


        <p ng-show="sr.isUserMediaDecided() && !sr.isUserMediaAllowed()" id="info_blocked" class="alert alert-danger" >
          Permission to use microphone is blocked. To change, go to
          <a href="chrome://settings/contentExceptions#media-stream" target="_blank">chrome://settings/contentExceptions#media-stream</a>
        </p>

        <div ng-hide="sr.isActive()">
          <p ng-hide="sr.isSpeechDetected()" id="info_no_speech" class="alert alert-warning">
            No speech was detected. You may need to adjust your <a href="https://support.google.com/chrome/bin/answer.py?hl=en&answer=1407892">microphone
            settings</a>.
          </p>
          <p ng-hide="sr.isMicrophoneDetected()" id="info_no_microphone" class="alert alert-warning" >
            No microphone was found. Ensure that a microphone is installed and that
            <a href="https://support.google.com/chrome/bin/answer.py?hl=en&answer=1407892">
            microphone settings</a> are configured correctly.
          </p>
          <p ng-show="sr.isUserMediaRequested() && !sr.isUserMediaDecided()" id="info_allow" class="alert alert-warning" >
            <strong>NOTE!</strong> Click the "Allow" button above to enable your microphone.
          </p>
          <p ng-show="sr.isMicrophoneReady() && !sr.isMicrophoneAllowed()" id="info_denied" class="alert alert-danger" >
            Permission to use microphone was denied.
          </p>

        </div>


        <!-- No example chosen  -->
        <div class="alert alert-info" ng-hide="menu.section">
          Select an example from the top menu
        </div>

      </div>
      <!-- /MESSAGES  -->
      <div id="events"  ng-show="menu.section">
          <span ng-repeat="event in events" class="label label-{{event.severity}}" style='display:inline-block'>{{event.type}} {{event.event.error}}</span>
      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- Analyzer -->
          <div ng-include="src='ngapp/view/audio.analyzer.ngview.html'"></div>

          <!-- Main View placholder -->
          <div ng-view></div>

          <div ng-show="menu.section">
            <button class='btn btn-primary' ng-click="sr.streamMicrophone(false)" ng-disabled="sr._isActive">Start default speech reco</button>
            <button class='btn btn-success' ng-click="sr.streamMicrophone(true)" ng-disabled="sr._isActive">Start new speech reco</button>
          </div>

          <h2>Recognition results</h2>
          Interim:<br>
          <textarea class="form-control" rows="5">{{transcript.interim}}</textarea>

          <br>
          Final:<br>
          <textarea class="form-control" rows="5">{{transcript.final}}</textarea>

        </div>
      </div>

    </div>

    <footer>
      <div class="container">
        Google WebRTC team
      </div>
    </footer>

    <!-- SUPPORTING SCRIPTS -->

      <!-- jQuery -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

      <!-- Bootstrap js -->
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

      <!-- AngularJS -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
      <script src="https://code.angularjs.org/1.2.18/angular-route.min.js"></script>

      <!-- D3.js -->
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script src="http://d3js.org/d3.hexbin.v0.min.js"></script>

      <!-- NG APP -->
      <script src="ngapp/app.js"></script>
      <script src="ngapp/service.js"></script>
      <script src="ngapp/audio.analyzer.service.js"></script>
      <script src="ngapp/demo.service.js"></script>
      <script src="ngapp/controller.js"></script>

      <!-- decloacking : since NG is failing to do so?  -->
      <script> $(function(){ $(".ng-cloak").show(); }); </script>

  </body>
</html>
